body,
html{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';  background: url(header.jfif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
H1{
    text-align: center;
    font-size: 3rem;
    color: #e2dbdb;
}
hr{
    border-color: #e62705;
    border-width: 3px;
    max-width: 65px;
}
.btn-xl{
    padding: 1rem 2rem;
}
.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}
.btn-primary{
background-color: #F05F44;
border-color:  #F05F44;
}
.btn-primary:hover{
    background-color: #ee4b08;border-color:  #F05F44;
    border-width:4px;
}
.buffer{
    height: 10rem;
}